files/AVENT_IOT-NODE-RED.json
[
    {
        "id": "312b249769d27bfc",
        "type": "tab",
        "label": "IOT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "850f323b1e14d05c",
        "type": "mqtt in",
        "z": "312b249769d27bfc",
        "name": "",
        "topic": "AVENT/ESPNODE/WAVEFORM",
        "qos": "0",
        "datatype": "json",
        "broker": "fb703bf023d124d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "bef13437db460961",
                "2b731f8c33537ac8"
            ]
        ]
    },
    {
        "id": "2b731f8c33537ac8",
        "type": "debug",
        "z": "312b249769d27bfc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "bef13437db460961",
        "type": "influxdb out",
        "z": "312b249769d27bfc",
        "influxdb": "851710aee7187eca",
        "name": "",
        "measurement": "waveform",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ADMU",
        "bucket": "AVENT",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "51d22d7d80d1f047",
        "type": "mqtt in",
        "z": "312b249769d27bfc",
        "name": "",
        "topic": "AVENT/ESPNODE/THRESHOLD",
        "qos": "0",
        "datatype": "json",
        "broker": "fb703bf023d124d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "77517c0b6410e046",
                "33696bd660fddacc"
            ]
        ]
    },
    {
        "id": "33696bd660fddacc",
        "type": "debug",
        "z": "312b249769d27bfc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "77517c0b6410e046",
        "type": "influxdb out",
        "z": "312b249769d27bfc",
        "influxdb": "851710aee7187eca",
        "name": "",
        "measurement": "threshold",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ADMU",
        "bucket": "AVENT",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "5c1f821a3e87d125",
        "type": "mqtt in",
        "z": "312b249769d27bfc",
        "name": "",
        "topic": "AVENT/ESPNODE/OXIMETER",
        "qos": "0",
        "datatype": "json",
        "broker": "fb703bf023d124d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "e453a90f99c2b22e",
                "89ab89fca936d40d"
            ]
        ]
    },
    {
        "id": "89ab89fca936d40d",
        "type": "debug",
        "z": "312b249769d27bfc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "e453a90f99c2b22e",
        "type": "influxdb out",
        "z": "312b249769d27bfc",
        "influxdb": "851710aee7187eca",
        "name": "",
        "measurement": "oximeter",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ADMU",
        "bucket": "AVENT",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "a9ba04f566351162",
        "type": "mqtt in",
        "z": "312b249769d27bfc",
        "name": "",
        "topic": "AVENT/ESPNODE/PEAKCURVE",
        "qos": "0",
        "datatype": "json",
        "broker": "fb703bf023d124d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 700,
        "wires": [
            [
                "0a3b94f235f94b92",
                "b7342d10062c0bf7"
            ]
        ]
    },
    {
        "id": "b7342d10062c0bf7",
        "type": "debug",
        "z": "312b249769d27bfc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 640,
        "wires": []
    },
    {
        "id": "0a3b94f235f94b92",
        "type": "influxdb out",
        "z": "312b249769d27bfc",
        "influxdb": "851710aee7187eca",
        "name": "",
        "measurement": "curvetracker",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ADMU",
        "bucket": "AVENT",
        "x": 620,
        "y": 700,
        "wires": []
    },
    {
        "id": "3ebfb07ea6fefcaf",
        "type": "mqtt in",
        "z": "312b249769d27bfc",
        "name": "",
        "topic": "AVENT/ESPNODE/ALARMS",
        "qos": "0",
        "datatype": "json",
        "broker": "fb703bf023d124d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 780,
        "wires": [
            [
                "402f6d2325f348c0",
                "3ea9107fb2ff4591"
            ]
        ]
    },
    {
        "id": "3ea9107fb2ff4591",
        "type": "debug",
        "z": "312b249769d27bfc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 860,
        "wires": []
    },
    {
        "id": "402f6d2325f348c0",
        "type": "postgresql",
        "z": "312b249769d27bfc",
        "name": "",
        "query": "INSERT INTO public.aventdb(\n\t\"MachineStatus\", \"AsynchronyStatus\", \"PressureStatus\", \"RespirationStatus\", \"VolumeStatus\", \"AnomalyStatus\")\n\tVALUES ('{{msg.payload.MachineStatus}}', '{{msg.payload.MachineStatus}}', '{{msg.payload.MachineStatus}}', '{{msg.payload.MachineStatus}}', '{{msg.payload.MachineStatus}}','{{msg.payload.MachineStatus}}');",
        "postgreSQLConfig": "1633027b07b23231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 570,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "fb703bf023d124d9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "851710aee7187eca",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "NODE_RED",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "1633027b07b23231",
        "type": "postgreSQLConfig",
        "name": "AVENT",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "AVENT",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "rayaray57",
        "passwordFieldType": "str"
    }
]